@charset "utf8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
main{
    position: relative;
    height: 100vh;
    
}
#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);

    height: 500px;
    width: 248px;
    background-color: blue;
    background: url(../imagens/frame-iphone.png) no-repeat;
    
}
#tela{
    position: relative;
    top: 63px;
    left: 17px;
    height: 377px;
    width: 215px;
  
}
#redessociais{
    text-align: right;
}
section img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);
    box-sizing: border-box;

}
#redessociais img:hover{
    border: 1px solid rgb(255, 255, 255);
    transform: translate(-3px,-3px);
    box-shadow:5px 5px 20px rgba(0, 0, 0, 0.591);
    transition: transform,.2s, border,.1s;
}

