@charset "utf8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
main{
    position: relative;
    height: 100vh;
    
}
#telefone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);

    height: 500px;
    width: 248px;
    background-color: blue;
    background: url(../imagens/frame-iphone.png) no-repeat;
    
}